<!-- see: https://www.javacodegeeks.com/2012/04/using-slf4j-with-logback-tutorial.html -->
<configuration scan="true" scanPeriod="1 second">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="com.Common.automation" level="WARN"/>
</configuration>
